.para{
 text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    font-size: 15px;
    color: aliceblue;
     margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h1{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
h2{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: rgb(137, 175, 208);
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.styling-imgs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    image-rendering: optimizeQuality;
    border-image: fill;
    align-items: center;
    size: 50px;
}
.navbar ul{
                list-style-type: none; /*This removes the bullet points.*/
                background-color: black;
                padding: 0px;
                margin: 0px;
                overflow: hidden;
            }
            .navbar a{
                color: aliceblue;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                text-decoration: none; /*Removes text underline*/ 
                padding: 15px;
                display: block;
                text-align: center;
            }
            .navbar a:hover{
                transition:ease-in;
                background-color: aliceblue;
                color: darkslategray;
            }
            /*Time to turn vertical navbar to horizontal*/
            .navbar li{
                float:left;

            }
.submenu { /*Hiding sub-menu by default*/
                display: none;
                z-index: 999;
                position: absolute;
                background-color: black;
            }
            .dropdown:hover .submenu{
                display: block;
                overflow: hidden;
            }

/*Creating slider styling*/
.slider-container{
    padding: 2rem;
}
.slider-wrapper{
    position: relative;
    max-width: 48rem;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16 / 9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 0.5 rem;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
/*Styling Navigation Buttons*/
.slider-nav{
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 1.25rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: wheat;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
hr{
    border: none;
    border-top: 5px double;
    color:darkolivegreen;
    align-self: center;
    height: 1px;
    overflow: visible;
            }
/*Styling Table*/
.style-table {
    table-layout: auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    border: 3;
    border-color: aliceblue;
}
.style-table th{ /*All 'th' elements within the style table class*/
    background-color: rgb(3, 36, 3);
}
.style-table td{ /*All 'td' elements within the style table class*/
    color: rgb(43, 40, 40);
    background-color: rgb(189, 191, 193);
}

.left{
    text-align:left;
}
.footerimgadjust{

}
.right{
    background-color: black;
    text-align:right;
    margin-right: auto;
    padding:1cm;
    font-family: Haettenschweiler;
    color: bisque;
}
.centered{
    text-align:center;
}
.styledbutton{
        border: 0;
        line-height: 2.5;
        font-family:fantasy;
        padding: 0 20px;
        font-size: 1rem;
        margin-left: auto;
        margin-right: auto;
        width: 25%;
        display: block;
        text-align: center;
        color: aliceblue;
        border-radius: 19px;
        background-color:rgb(14, 14, 31);
            }
.styledbutton:hover{
        color: rgb(14, 14, 31);
        background-color: aliceblue;
}
        